html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
    /* font-family: 'Azonix', sans-serif; */
}

.ci-btn {
    background-color: #4AC9E3;
    border: 2px solid transparent;
}

.ci-btn:hover {
    border: 2px solid #4AC9E3;

}

#hero-section #hero-img-container {
    background-image: url('/src/content/img/j&c-hero-image.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
}

#hero-section .row {
    height: 100%;
}

#hero-section .row .overshadow {
    background-color: rgba(0, 0, 0, 0.5);
}

/* Services Section */

.service-box {
    background-color: black;
    color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-box h3 {
    color: white;
}

.service-box:hover {
    transform: translateY(-6px);
    box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.1);
}

/* Top programs */

.top-programs-box {
    height: 400px;
}