html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
    /* font-family: 'Azonix', sans-serif; */
}

/* Navbar */
#navbar {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.navbar-faded {
    opacity: 0;
}

.ci-btn {
    background-color: #4AC9E3;
    border: 2px solid transparent;
}

.ci-btn:hover {
    border: 2px solid #4AC9E3;
}

.hero-section {
    background-image: url('/src/content/img/background-hero-img.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#hero-section #hero-img-container {
    height: 500px;
}

#hero-section .row {
    height: 100%;
}

#hero-section .row .overshadow {
    background-color: rgba(0, 0, 0, 0.5);
}

.book-free-session-form {
    background-color: black;
}

/* Services Section */

#services {
    border-radius: 20px;
}

#services h3 {
    font-family: 'Azonix', sans-serif;
}

.service-box {
    width: 100%;
    max-width: 300px;
    height: 300px;
    background-color: black;
    color: white;
    padding: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 3px solid black;
}

.service-box:hover {
    /* transform: translateY(-6px); */
    border-color: black;
    background-color: white;
    color: black;
    box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.1);
}

.service-box i {
    color: #4AC9E3;
}

.service-box .btn {}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.swiper-slide img {
    display: block;
    width: 100%;
}


/* .service-box {
    background-color: black;
    color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-box h3 {
    color: white;
}

.service-box:hover {
    transform: translateY(-6px);
    box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.1);
} */

/* Top programs */

.top-programs-box {
    background-color: black;
}